:root{
    --light-theme: #fff;
    --gray-text-color: #aaa;
    --search-bar-border:#ccc;
    --default-text-color: #0f0f0f;
    --home-page-font: Roboto, Noto, sans-serif;
    --video-gray-text-color: #606060;

}